### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Flutter/Dart
.dart_tool/
build/

# Firebase binaries
*.lib
*.dll
*.zip
*.dill

# Visual Studio
.vs/

# Windows generated
windows/flutter/ephemeral/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# IDE specific paths that you also had tracking issues with
.idea/workspace.xml
.idea/libraries/
.idea/easycode/

# Environment variables
.env
/deepseek.py
